.popup__submit-button {
  margin-top: 5px;
  padding: 16px 0;
  width: 100%;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #000;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  transition: opacity .3s ease-in-out;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media (max-width: 600px) {
  .popup__submit-button {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}