/* Normalize.css + глобальные стили + шрифты */

@import url(./vendors/normalize.css);
@import url(./blocks/page/page.css);
@import url(./vendors/inter-fonts.css);
@import url(./blocks/button/button.css);

/* Header  */

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo-link/header__logo-link.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__profile/header__profile.css);
@import url(./blocks/header/__button-exit/header__button-exit.css);

/* Profile */

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__name-container/profile__name-container.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__status/profile__status.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/* Photos */

@import url(./blocks/photos/photos.css);
@import url(./blocks/photos/__cards-container/photos__cards-container.css);

/* Footer */

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* Popup */

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_type/popup__container_type_picture.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/popup-picture.css);
@import url(./blocks/popup/__container/_type/popup__container_type_auth.css);
@import url(./blocks/popup/__message-notification/popup__message-notification.css);
@import url(./blocks/popup/__icon-notification/popup__icon-notification.css);


@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css);

/* Card */

@import url(./blocks/card/card.css);
@import url(./blocks/card/__trash-button/card__trash-button.css);
@import url(./blocks/card/__img/card__img.css);
@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);

/* Authorize */

@import url(./blocks/authorize/authorize.css);
@import url(./blocks/authorize/__heading/authorize__heading.css);
@import url(./blocks/authorize/__button/authorize__button.css);
@import url(./blocks/authorize/__link/authorize__link.css);
@import url(./blocks/authorize/__input/authorize__input.css);


